{% extends 'base.html' %}

{% block title %}Memória de Cálculo{% endblock %}

{% block content %}
<div class="row">

    <!-- Etapa 12 -->
    <div class="col-md-6">
        <div class="card shadow-sm mb-4">
            <div class="card-header etapa-titulo">Cadastrar Memória de Cálculo na Etapa</div>
            <div class="card-body font-sistema">
                <p><strong>Prog. Governo:</strong> {{ programa.nome }}</p>
                <p><strong>Função:</strong> {{ programa.funcao }}</p>
                <p><strong>Subfunção:</strong> {{ acao.subfuncao }}</p>
                <p><strong>Ação (PAOE):</strong> {{ acao.acao_paoe }}</p>
                <input type="hidden" id="acao_paoe" value="{{ acao.acao_paoe }}">
                <p><strong>Produto da Ação:</strong> {{ produto.nome }}</p>
                <p><strong>Subação/Entrega:</strong> {{ subacao_entrega.subacao_entrega }}</p>
                <p><strong>Etapa:</strong> {{ etapa.etapa_nome }}</p>

                <!-- Tabela -->
                <div class="table-responsive mb-3">
                    <form method="post" id="formExcluirMemoria">
                        <table class="table table-bordered table-hover text-center">
                            <thead class="table-light">
                                <tr>
                                    <th>Selecionar</th>
                                    <th>Item</th>
                                    <th>Unid.</th>
                                    <th>Quant.</th>
                                    <th>V. Unit.</th>
                                    <th>V. Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for memoria in memorias %}
                                <tr>
                                    <td>
                                        <input type="radio" name="memoriaSelecionada"
                                            value="{{ memoria.id }}"
                                            data-item="{{ memoria.itens_despesa }}"
                                            data-unidade="{{ memoria.unidade_medida }}"
                                            data-quantidade="{{ memoria.quantidade }}"
                                            data-valor_unitario="{{ memoria.valor_unitario }}"
                                            data-total="{{ memoria.valor_total }}"
                                            data-categoria="{{ memoria.categoria_economica }}"
                                            data-grupo="{{ memoria.grupo_despesa }}"
                                            data-modalidade="{{ memoria.modalidade }}"
                                            data-elemento="{{ memoria.elemento_despesa }}"
                                            data-subelemento="{{ memoria.subelemento }}"
                                            data-fonte="{{ memoria.fonte_recursos }}"
                                            data-iduso="{{ memoria.identificador_uso }}"
                                            data-legislacao="{{ memoria.legislacao }}">
                                    </td>
                                    <td>{{ memoria.itens_despesa }}</td>
                                    <td>{{ memoria.unidade_medida }}</td>
                                    <td>{{ "{:,.2f}".format(memoria.quantidade).replace(",", "X").replace(".", ",").replace("X", ".") }}</td>
                                    <td>{{ "{:,.2f}".format(memoria.valor_unitario).replace(",", "X").replace(".", ",").replace("X", ".") }}</td>
                                    <td>{{ "{:,.2f}".format(memoria.valor_total).replace(",", "X").replace(".", ",").replace("X", ".") }}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>

                <!-- Botões -->
            <style>
                .btn-reduzido {
                    padding: 6px 10px;
                    font-size: 0.85rem;
                }
            </style>
            <div class="d-flex justify-content-center gap-2 flex-nowrap">
                <a href="{{ url_for('etapas', programa_id=programa.id, acao_id=acao.id, produto_id=produto.id, subacao_id=subacao_entrega.id) }}" class="btn btn-secondary btn-reduzido">Voltar</a>
                <button type="button" class="btn btn-success btn-reduzido" onclick="abrirFormularioMemoria()">+ Cadastrar</button>
                <button type="button" class="btn btn-warning btn-reduzido" onclick="abrirFormularioMemoria(true)">Alterar</button>
                <button type="button" class="btn btn-danger btn-reduzido" onclick="excluirMemoria()">Excluir</button>
                <a href="{{ url_for('cadastrar_pta') }}" id="botaoFinalizar" class="btn btn-padrao btn-reduzido">Finalizar</a>
                <a href="/visualizar" id="botaoVisualizar" class="btn btn-padrao btn-reduzido">Visualizar</a>
            </div>
            </div>
        </div>
    </div>

    <!-- Etapa 13 -->
    <div class="col-md-6" id="formularioMemoria" style="display: none;">
        <div class="card shadow-sm mb-4">
            <div class="card-header etapa-titulo">Incluir Memória de Cálculo</div>
            <div class="card-body font-sistema">
                <form method="post" action="{{ url_for('inserir_memoria') }}" id="formMemoria">
                    <input type="hidden" name="memoria_id" id="memoria_id">
                    <input type="hidden" name="etapa_id" value="{{ etapa.id }}">

                    <div class="mb-3">
                        <label>Região de Planejamento:</label>
                        <input type="text" name="regiao_planejamento" id="regiao_planejamento"
                        class="form-control" required readonly
                        value="{{ subacao_entrega.regiao }}"
                        data-regiao="{{ subacao_entrega.regiao }}">
                    </div>

                    <div class="mb-3">
                        <label>Itens de Despesa:</label>
                        <input type="text" name="itens_despesa" id="item_despesa" class="form-control" maxlength="120" required autocomplete="off" oninput="atualizarContadorItem()">
                        <small id="contador_item" class="form-text text-muted">0 / 120 caracteres</small>
                    </div>

                    <div class="mb-3">
                        <label for="unidade_medida">Unidade de Medida:</label>
                        <select name="unidade_medida" id="unidade_medida" class="form-select" required autocomplete="off">
                            <option value="Real (R$)">Real (R$)</option>
                        </select>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="quantidade">Quantidade:</label>
                            <input type="text" name="quantidade" id="quantidade" class="form-control" required autocomplete="off">
                            <input type="hidden" name="quantidade_real" id="quantidade_real">
                        </div>
                        <div class="col-md-4">
                            <label for="valor_unitario">Valor Unitário:</label>
                            <input type="text" name="valor_unitario" id="valor_unitario" class="form-control" required autocomplete="off">
                            <input type="hidden" name="valor_unitario_real" id="valor_unitario_real">
                        </div>
                        <div class="col-md-4">
                            <label for="valor_total">Valor Total R$:</label>
                            <input type="text" name="valor_total" id="valor_total" class="form-control" readonly>
                            <input type="hidden" name="valor_total_real" id="valor_total_real">
                        </div>
                    </div>


                    <hr>
                    <label>Natureza da Despesa:</label>
                    <hr>

                    <div class="mb-3">
                        <label for="categoria_economica">Categoria Econômica:</label>
                        <select name="categoria_economica" id="categoria_economica" class="form-control" required>
                            <option value="">Selecione</option>
                            <option value="3 - DESPESA CORRENTE">3 - DESPESA CORRENTE</option>
                            <option value="4 - DESPESA CAPITAL">4 - DESPESA CAPITAL</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="grupo_despesa">Grupo de Despesa:</label>
                        <select name="grupo_despesa" id="grupo_despesa" class="form-control" required>
                            <option value="">Selecione</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="modalidade">Modalidade:</label><br>
                        <select name="modalidade" id="modalidade" class="form-select" required>
                            <option value="">Selecione</option>
                            <option>20 - Transferências à União</option>
                            <option>22 - Execução Orçamentária Delegada à União</option>
                            <option>30 - Transferências a Estados e ao Distrito Federal</option>
                            <option>31 - Transferências a Estados e ao Distrito Federal - Fundo a Fundo</option>
                            <option>32 - Execução Orçamentária Delegada a Estados e ao Distrito Federal</option>
                            <option>35 - Transferências Fundo a Fundo aos Estados e ao Distrito Federal à conta de recursos de que tratam os §§ 1º e 2º do art. 24 da Lei Complementar nº 141, de 2012</option>
                            <option>36 - Transferências Fundo a Fundo aos Estados e ao Distrito Federal à conta de recursos de que trata o art. 25 da Lei Complementar nº 141, de 2012</option>
                            <option>40 - Transferências a Municípios</option>
                            <option>41 - Transferências a Municípios - Fundo a Fundo</option>
                            <option>42 - Execução Orçamentária Delegada a Municípios</option>
                            <option>45 - Transferências Fundo a Fundo aos Municípios à conta de recursos de que tratam os §§ 1º e 2º do art. 24 da Lei Complementar nº 141, de 2012</option>
                            <option>46 - Transferências Fundo a Fundo aos Municípios à conta de recursos de que trata o art. 25 da Lei Complementar nº 141, de 2012</option>
                            <option>50 - Transferências a Instituições Privadas sem Fins Lucrativos</option>
                            <option>60 - Transferências a Instituições Privadas com Fins Lucrativos</option>
                            <option>67 - Execução de Contrato de Parceria Pública-Privada - PPP</option>
                            <option>70 - Transferências a Instituições Multigovernamentais</option>
                            <option>71 - Transferências a Consórcios Públicos</option>
                            <option>72 - Execução Orçamentária Delegada a Consórcios Públicos</option>
                            <option>73 - Transferências a Consórcios Públicos mediante contrato de rateio à conta de recursos de que tratam os §§ 1º e 2º do art. 24 da Lei Complementar nº 141, de 2012</option>
                            <option>74 - Transferências a Consórcios Públicos mediante contrato de rateio à conta de recursos de que trata o art. 25 da Lei Complementar nº 141, de 2012</option>
                            <option>75 - Transferências a Instituições Multigovernamentais à conta de recursos de que tratam os §§ 1º e 2º do art. 24 da Lei Complementar nº 141, de 2012</option>
                            <option>76 - Transferências a Instituições Multigovernamentais à conta de recursos de que trata o art. 25 da Lei Complementar nº 141, de 2012</option>
                            <option>80 - Transferências ao Exterior</option>
                            <option>86 - Compensações a Regimes de Previdência</option>
                            <option>90 - Aplicações Diretas</option>
                            <option>91 - Aplicação Direta Decorrente de Operação entre Órgãos, Fundos e Entidades Integrantes dos Orçamentos Fiscal e da Seguridade Social</option>
                            <option>92 - Aplicação Direta de Recursos Recebidos de Outros Entes da Federação Decorrentes de Delegação ou Descentralização</option>
                            <option>93 - Aplicação Direta Decorrente de Operação de Órgãos, Fundos e Entidades Integrantes dos Orçamentos Fiscal e da Seguridade Social com Consórcio Público do qual o Ente Participe</option>
                            <option>94 - Aplicação Direta Decorrente de Operação de Órgãos, Fundos e Entidades Integrantes dos Orçamentos Fiscal e da Seguridade Social com Consórcio Público do qual o Ente Não Participe</option>
                            <option>95 - Aplicação Direta à conta de recursos de que tratam os §§ 1º e 2º do art. 24 da Lei Complementar nº 141, de 2012</option>
                            <option>96 - Aplicação Direta à conta de recursos de que trata o art. 25 da Lei Complementar nº 141, de 2012</option>
                            <option>99 - A Definir</option>
                        </select>
                    </div>
                    <div class="mb-3">
                    <label for="elemento_despesa">Elemento de Despesa:</label>
                    <select name="elemento_despesa" id="elemento_despesa" class="form-select" required>
                        <option></option> <!-- necessário para permitir placeholder -->
                        <option>1 - APOSENTADORIAS DO RPPS, RESERVA REMUNERADA E REFORMAS DOS MILITARES</option>
                        <option>3 - PENSÕES, EXCLUSIVE DO RGPS</option>
                        <option>4 - CONTRATACÃO POR TEMPO DETERMINADO</option>
                        <option>5 - OUTROS BENEFÍCIOS PREVIDENCIÁRIOS DO RPPS</option>
                        <option>6 - BENEFICIO MENSAL AO DEFICIENTE E AO IDOSO</option>
                        <option>7 - CONTRIBUICAO A ENTIDADES FECHADAS DE PREVIDENCIA</option>
                        <option>8 - OUTROS BENEFICIOS ASSISTENCIAIS</option>
                        <option>10 - SEGURO DESEMPREGO E ABONO SALARIAL</option>
                        <option>11 - VENCIMENTOS E VANTAGENS FIXAS - PESSOAL CIVIL</option>
                        <option>12 - VENCIMENTOS E VANTAGENS FIXAS - PESSOAL MILITAR</option>
                        <option>13 - OBRIGACOES PATRONAIS</option>
                        <option>14 - DIARIAS - PESSOAL CIVIL</option>
                        <option>15 - DIARIAS - PESSOAL MILITAR</option>
                        <option>16 - OUTRAS DESPESAS VARIAVEIS - PESSOAL CIVIL</option>
                        <option>17 - OUTRAS DESPESAS VARIAVEIS - PESSOAL MILITAR</option>
                        <option>18 - AUXILIO FINANCEIRO AOS ESTUDANTES</option>
                        <option>19 - AUXILIO-FARDAMENTO</option>
                        <option>20 - AUXILIO FINANCEIRO A PESQUISADORES</option>
                        <option>21 - JUROS SOBRE A DIVIDA POR CONTRATO</option>
                        <option>22 - OUTROS ENCARGOS SOBRE A DIVIDA POR CONTRATO</option>
                        <option>23 - JUROS, DESAGIOS E DESCONTOS DA DIVIDA MOBILIARIA</option>
                        <option>24 - OUTROS ENCARGOS SOBRE A DIVIDA MOBILIARIA</option>
                        <option>25 - ENCARGOS SOBRE OPERACOES DE CREDITO POR ANTECIPACAO DA RECEITA</option>
                        <option>26 - OBRIGACOES DECORRENTES DE POLITICA MONETARIA</option>
                        <option>27 - ENCARGOS PELA HONRA DE AVAIS, GARANTIAS, SEGUROS E SIMILARES</option>
                        <option>28 - REMUNERACAO DE COTAS DE FUNDOS AUTARQUICOS</option>
                        <option>29 - DISTRIBUIÇÃO DE RESULTADO DE EMPRESAS ESTATAIS DEPENDENTES</option>
                        <option>30 - MATERIAL DE CONSUMO</option>
                        <option>31 - PREMIACOES CULTURAIS, ARTISTICAS, CIENTIFICAS, DESPORTIVAS E OUTRAS</option>
                        <option>32 - MATERIAL, BEM OU SERVIÇO PARA DISTRIBUIÇÃO GRATUITA</option>
                        <option>33 - PASSAGENS E DEPESAS COM LOCOMOCAO</option>
                        <option>34 - OUTRAS DESPESAS DE PESSOAL DECORRENTES DE CONTRATOS DE TERCEIRIZACAO</option>
                        <option>35 - SERVICOS DE CONSULTORIA</option>
                        <option>36 - OUTROS SERVICOS DE TERCEIROS - PESSOA FISICA</option>
                        <option>37 - LOCACAO DE MAO-DE-OBRA</option>
                        <option>38 - ARRENDAMENTO MERCANTIL</option>
                        <option>39 - OUTROS SERVICOS DE TERCEIROS - PESSOA JURIDICA</option>
                        <option>40 - SERVIÇOS DE TECNOLOGIA DA INFORMAÇÃO E COMUNICAÇÃO - PESSOA JURÍDICA</option>
                        <option>41 - CONTRIBUICOES</option>
                        <option>42 - AUXILIOS</option>
                        <option>43 - SUBVENCOES SOCIAIS</option>
                        <option>45 - SUBVENÇÕES ECONÔMICAS</option>
                        <option>46 - AUXILIO-ALIMENTACAO</option>
                        <option>47 - OBRIGACOES TRIBUTARIAS CONTRIBUTIVAS</option>
                        <option>48 - OUTROS AUXILIOS FINANCEIROS A PESSOAS FISICAS</option>
                        <option>49 - AUXILIO-TRANSPORTE</option>
                        <option>51 - OBRAS E INSTALACOES</option>
                        <option>52 - EQUIPAMENTOS E MATERIAL PERMANENTE</option>
                        <option>59 - PENSÕES ESPECIAIS</option>
                        <option>61 - AQUISICAO DE IMOVEIS</option>
                        <option>62 - AQUISICAO DE PRODUTOS PARA REVENDA</option>
                        <option>65 - CONSTITUICAO OU AUMENTO DE CAPITAL DE EMPRESAS</option>
                        <option>66 - CONCESSAO DE EMPRESTIMOS_E FINANCIAMENTOS</option>
                        <option>67 - DEPOSITOS COMPULSORIOS</option>
                        <option>70 - Rateio pela Participação em Consórcio Público</option>
                        <option>71 - PRINCIPAL DA DIVIDA CONTRATUAL RESGATADO</option>
                        <option>72 - PRINCIPAL DA DIVIDA MOBILIARIA RESGATADO</option>
                        <option>73 - CORRECAO MONETARIA OU CAMBIAL DA DIVIDA CONTRATUAL RESGATADA</option>
                        <option>74 - CORRECAO MONETARIA OU CAMBIAL DA DIVIDA MOBILIARIA RESGATADA</option>
                        <option>75 - CORRECAO MONETARIA DA DIVIDA DE OPERACOES DE CREDITO POR ANTECIPACAO DA RECEITA</option>
                        <option>76 - PRINCIPAL CORRIGIDO DA DIVIDA MOBILIARIA REFINANCIADO</option>
                        <option>77 - PRINCIPAL CORRIGIDO DA DIVIDA CONTRATUAL REFINANCIADO</option>
                        <option>81 - DISTRIBUICAO DERECEITAS</option>
                        <option>83 - Despesas Decorrentes de Contrato de PPP, exceto Subvenções Econômicas, Aporte e Fundo Garantidor</option>
                        <option>84 - DESPESAS DECORRENTES DA PARTICIPAÇÃO EM FUNDO, ORGANISMOS, OU ENTIDADES ASSEMELHADAS, NACION. /INTERN.</option>
                        <option>91 - SENTENCAS JUDICIAIS</option>
                        <option>92 - DESPESAS DE EXERCICIOS ANTERIORES</option>
                        <option>93 - INDENIZACOES E RESTITUICOES</option>
                        <option>94 - INDENIZACOES E RESTITUICOES TRABALHISTAS</option>
                        <option>95 - INDENIZACOES PELA EXECUCAO DE TRABALHOS DE CAMPO</option>
                        <option>96 - RESSARCIMENTO DE DESPESAS DE PESSOAL REQUISITADO</option>
                        <option>97 - APORTE PARA COBERTURA DO DÉFICIT ATUARIAL DO RPPS</option>
                        <option>98 - Compensações ao RGPS</option>
                        <option>99 - RESERVA DE CONTINGENCIA</option>
                    </select>
                    </div>


                    <div class="mb-3 pb-1">
                    <label for="subelemento">Subelemento:</label>
                    <select name="subelemento" id="subelemento" class="form-select" required disabled>
                        <option value="">Selecione um Elemento primeiro</option>
                    </select>
                    </div>


                    <div class="mb-3">
                        <label for="fonte_recursos">Fonte de Recursos:</label>
                        <select name="fonte_recursos" id="fonte_recursos" class="form-select" required>
                            <option value="">Selecione</option>
                            <option>15000000 - Recursos não vinculados de Impostos</option>
                            <option>15001001 - Recursos destinados à Manutenção e Desenvolvimento do Ensino</option>
                            <option>15010000 - Outros Recursos não Vinculados</option>
                            <option>15010100 - Outros Recursos não vinculados destinados ao Tesouro</option>
                            <option>15400000 - Transferência de recursos do FUNDEB desenvolvimento do Ensino</option>
                            <option>15401070 - Transferência de recursos do FUNDEB Remuneração Educação Básica</option>
                            <option>15500000 - Recursos da Contribuição ao Salário Educação</option>
                            <option>15510000 - Transferências de Recursos do FNDE referente ao Programa Dinheiro Direto na Escola (PDDE)</option>
                            <option>15520000 - Transferências de Recursos do FNDE referente ao Programa Nacional de Alimentação Escolar (PNAE)</option>
                            <option>15530000 - Transferências de Recursos do FNDE referente ao P. N. de Apoio ao Transporte Escolar (PNATE)</option>
                            <option>15690000 - Outras Transferências de Recursos do FNDE</option>
                            <option>15700000 - Transferências do Governo Federal ref. a Convênios e outros Repasses vinculados à Educação</option>
                            <option>15740000 - Recursos de Operações de Crédito Educação</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="identificador_uso">Identificador de Uso:</label>
                        <select id="identificador_uso" name="identificador_uso" class="form-control" required></select>
                    </div>

                    <div class="mb-3 pb-1" id="campo_legislacao" style="display: none;">
                        <label for="legislacao">Legislação: <span id="contador_legislacao" class="text-muted">(0/250)</span></label>
                        <input type="text" name="legislacao" id="legislacao" class="form-control" maxlength="250" required autocomplete="off">
                    </div>
<br><br>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" onclick="fecharFormularioMemoria()">Voltar</button>
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<form id="formExcluirMemoriaHidden" method="post" style="display: none;"></form>

{% if mensagem_popup %}
<script>
    sessionStorage.setItem("mensagem_popup", "{{ mensagem_popup }}");
</script>
{% endif %}

<script>
document.addEventListener("DOMContentLoaded", function () {
    const mensagem = sessionStorage.getItem("mensagem_popup");
    if (mensagem) {
        alert(mensagem);
        sessionStorage.removeItem("mensagem_popup");
    }
});
</script>

<script src="{{ url_for('static', filename='js/memoria_calculo.js') }}"></script>
<!-- Select2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<!-- jQuery (deve vir antes do Select2!) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="{{ url_for('static', filename='js/subelementoMap.js') }}"></script>

<script src="{{ url_for('static', filename='js/idusoMap.js') }}"></script>

<script src="https://cdn.jsdelivr.net/npm/autonumeric@4.6.0"></script>


{% endblock %}

